body {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.page {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #efefef;
  padding: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  z-index: 1;
}

.header a {
  margin-right: 20px;
  margin-left: 20px;
}

.logo {
  height: 56px;
  width: auto;
}

.spacer {
  margin: auto;
}

.navlinks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin: 6px;
  font-size: 24px;
  font-weight: 500;
  color: #2c2c2c;
}

a {
  text-decoration: none;
}

a:visited {
}

h5 {
  color: #efefef;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.terms-block {
  padding-top: 140px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  background-color: #2c2c2c;
}

.terms-text {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  color: #efefef;
  max-width: 800px;
}
.quote {
  border-radius: 48px;
  border: 4px #3100e0 solid;
  padding: 12px;
  font-weight: 700;
  color: #3100e0;
}

.quote:hover {
  background-color: #3100e0;
  color: #efefef;
}

hr {
  height: 2px;
  background-color: #2c2c2c;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bigSection {
  text-decoration: none;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  width: 100%;
  color: #efefef;
}

.section.first {
  padding-top: 200px;
  background-color: #3308cc;
  color: #efefef;
  background-color: #3308cc;
}

.text-block {
  display: inline-block;
  height: min-content;
}
.section.purple {
  background-color: rgb(136, 51, 216);
  padding-top: 80px;
  position: relative;
}

.form {
  position: relative;
  padding-top: 8px;
  height: 400px;
  width: 400px;
}

.next {
  border: 4px #efefef solid;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 36px;
  width: 120px;
  color: #efefef;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  position: absolute;
  top: 200px;
  right: 0;
}

.next:hover {
  background-color: #efefef;
  color: rgb(136, 51, 216);

  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.name-info {
  position: absolute;
  left: 0;
  top: 0;
}

.sm-info {
  position: absolute;
  left: 0;
  top: 0;
}

.section.blue {
  background-color: #3308cc;
  padding-top: 80px;
}

.section.coral {
  background-color: rgb(241, 137, 105);
  padding-top: 80px;
}

.section.last {
  background-color: #efefef;
}

.test {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.tm {
  width: 30%;
  height: auto;
}

.tm:nth-child(2) {
  padding-left: 24px;
  padding-right: 24px;
}

textarea {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: none;
  resize: none;
  transition: opacity 500ms ease-in-out, max-width 500ms ease-in-out;
  height: 40px;
  background-color: #efefef;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  position: relative;
  width: 100%;
}

input {
  display: inline-block;
  width: 400px;
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: none;
  resize: none;
  background-color: #efefef;
  border-radius: 16px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.sm-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  position: relative;
  margin-bottom: 12px;
  width: 400px;
}

.sm-big-wrapper .sm-wrapper {
  margin-bottom: 20px;
}

.sm-icon {
  height: 20px;
  width: auto;
  background-color: #2c2c2c;
  padding: 10px 12px;
  position: absolute;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  right: 0;
}

.sm-label {
  font-size: 16px;
  margin-left: 4px;
}

input:focus,
textarea:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.form p {
  margin: 0;
  padding: 8px 4px;
  font-size: 18px;
}

.sm-wrapper p {
  margin-right: 12px;
}

.submit {
  border: 4px #efefef solid;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  border-radius: 36px;
  align-self: flex-end;
  width: 120px;
  color: #efefef;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  bottom: 0px;
  right: 0;
}

.submit:hover {
  background-color: #efefef;
  color: rgb(136, 51, 216);

  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.submit:disabled {
  opacity: 80%;
  pointer-events: none;
}

.back {
  position: absolute;
  left: 0;
  bottom: 4px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
  color: #efefef;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.footer {
  background-color: #2c2c2c;
  color: #efefef;
  display: flex;
  flex-flow: column nowrap;
  padding: 60px 30%;
  align-items: center;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}

.social {
  height: 28px;
  width: auto;
}

.circle {
  position: absolute;
  top: -30px;
  right: 4px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(241, 137, 105);
}

.circle2 {
  position: absolute;
  bottom: -30px;
  left: 4px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(136, 51, 216);
}

.socialsrow a:first-child {
  margin-right: 24px;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 75%;
  padding-right: 12px;
}

.logosocials {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.socialsrow {
  display: flex;
  flex-flow: row nowrap;
}
.footer-logo {
  height: 48px;
  width: auto;
  padding-bottom: 16px;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 12px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}

a[href^="mailto:"] {
  font-family: "Poppins", sans-serif;
  color: #efefef;
}

a {
  font-family: "Poppins", sans-serif;
  color: #efefef;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.text-block p {
  max-width: min(800px, calc(50vw - 20px));
}

#menu-toggle,
.hamburger {
  display: none;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2px;
  font-size: 24px;
  display: inline-block;
  max-width: 40vw;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-width: 500px;
}

.nav-mobile {
  display: none;
}

.filler-image {
  width: 600px;
  height: 400px;
  background-color: gray;
  margin-left: 84px;
}

.filler-image.mirror {
  margin-right: 84px;
  margin-left: unset;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.kawaii {
  width: min(400px, calc(50vw - 160px));
  height: auto;
  margin-left: 84px;
}

.kawaii.first {
  width: min(600px, calc(50vw - 100px));
  height: auto;
}

.kawaii.mirror {
  margin-left: 0;
  margin-right: 84px;
}

.logo-row {
  display: flex;
  flex-flow: row;
  align-items: center;

  justify-content: center;
  padding-top: 12px;
}

.logo-row img {
  height: 48px;
  width: auto;
  padding: 24px;
}

.platforms {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.button-wrapper {
  display: grid;
  margin-top: 24px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.next:disabled {
  opacity: 80%;
  pointer-events: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  margin-top: 10px;

  color: #efefef;
}
.loader {
  font-size: 10px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

  position: absolute;
  top: -24px;
  right: 48px;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  margin-top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

.success {
  position: absolute;
  right: 0;
  font-size: 20px;
  padding: 8px;
  bottom: 4px;
  transition: opacity 300ms ease-in-out;
  z-index: 0;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media only screen and (max-width: 900px) {
  .section {
    flex-flow: column nowrap;
    justify-items: center;
    max-width: 100%;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.coral {
    flex-flow: column-reverse;
  }

  .section.purple.second {
    flex-flow: column-reverse;
  }

  .section:first-child {
    padding-top: 84px;
  }

  .section.purple,
  .section.coral,
  .section.blue {
    padding-top: 40px;
  }

  .circle {
    width: 60px;
    height: 60px;
    top: -20px;
  }
  .circle2 {
    width: 80px;
    height: 80px;
    bottom: -30px;
  }

  .filler-image {
    margin-left: 0;
    width: 100%;
    height: 400px;
  }

  .kawaii,
  .kawaii.mirror,
  .kawaii.first {
    width: 50%;
    height: auto;
    margin: 0;
  }

  .kawaii.first {
    width: 80%;
    height: auto;
  }

  .form {
    width: calc(100vw - 72px);
  }

  .sm-wrapper {
    max-width: calc(100vw - 72px);
  }

  .next,
  .submit {
    font-size: 18px;
    width: 120px;
  }

  input {
    max-width: 100%;
  }

  .section:last-child {
    max-width: 100%;
  }

  .text-block {
    padding: 20px;
  }

  textarea {
    max-width: 100%;
  }

  .filler-image.mirror {
    margin-right: 0;
  }

  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  .text-block p {
    font-size: 16px;
    max-width: unset;
  }
  p {
    font-size: 16px;
  }
  h3 {
    max-width: 100%;
  }

  .footer {
    padding: 40px 10%;
  }

  .footer-logo {
    height: 32px;
  }
  .social {
    height: 24px;
  }

  .links {
    padding-top: 8px;
  }

  .link {
    font-size: 14px;
  }
  .header {
    padding: 12px;
  }

  .logo {
    height: 48px;
    width: auto;
  }

  .quote {
    margin: 0;
    padding: 0;
  }

  .text-block {
    max-width: 80%;
  }

  .logo-row {
    flex-flow: row wrap;
    max-width: 90%;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 12px;
  }

  .navlinks {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .terms-text {
    max-width: 90%;
  }

  label {
    font-size: 16px;
  }

  .success, .back {
    font-size: 18px;
  }

  .loader,
  .loader:after,
  .loader:before {
    font-size: 8px;
  }

  .loader {
    right: 36px;
    top: -16px;
  }

  .hamburger {
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  .header a {
    margin-left: 8px;
    margin-right: 8px;
  }

  #menu-toggle:checked ~ .nav-mobile {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    top: calc(100% + 12px);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  }

  #nav-icon3 {
    width: 36px;
    height: 25px;
    position: relative;
    margin: auto;
    align-content: center;
    align-items: center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #3308cc;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 10px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 20px;
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(-45deg);
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  .nav-mobile h2 {
    font-size: 20px;
    padding: 6px;
  }
  .test {
    flex-flow: column;
    align-items: center;
  }

  .tm {
    width: 80%;
    height: auto;
    padding-top: 16px;
  }
}
