body {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  background-color: #efefef;
  margin: 0;
  padding: 0;
}
.page {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #efefef;
  padding: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  z-index: 1;
}

.logoSmall {
  display: none;
}

.logo {
  height: 80px;
  width: auto;

}

.spacer {
  margin: auto;
}

.navlinks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin: 6px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 24px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

h5 {
  color: #efefef;
  text-align: center;
}

.terms-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  background-color: #2c2c2c;
}

.terms-text {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  color: #efefef;
  max-width: 800px;
}
.quote {
  border-radius: 48px;
  border: 4px #3100e0 solid;
  padding: 12px;
  font-weight: 700;
  color: #3100e0
}

.quote:hover {
  background-color: #3100e0;
  color: #efefef;
}

hr {
  height: 2px;
  background-color: #2c2c2c;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bigSection {
  text-decoration: none;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  width: 100%;
}

.section:first-child {
  padding-top: 200px;
  background-color: #3308cc;
  color: #efefef;
}

.text-block {
  display: inline-block;
  height: min-content;
}

.section:nth-of-type(2) {
  background-color: rgb(241, 137, 105);
  color: #efefef;
}
.section:nth-child(3) {
  background-color: rgb(136, 51, 216);
  color: #efefef;
}

.section:nth-of-type(1) {
  background-color: #3308cc;

  color: #efefef;
}




.text-block p {
  max-width: 800px;
}

#menu-toggle,
.hamburger {
  display: none;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2px;
  font-size: 24px;
  display: inline-block;
  max-width: 500px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-width: 500px;
}

.nav-mobile {
  display: none;
}

.filler-image {
  width: 600px;
  height: 400px;
  background-color: gray;
  margin-left: 84px;
}

.filler-image.mirror {
  margin-right: 84px;
  margin-left: unset;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.kawaii {
  width: 400px;
  height: auto;
  margin-left: 84px;
}

.kawaii.first {
  width: 600px;
  height: auto;
}

.kawaii.mirror {
  margin-left: 0;
  margin-right: 84px;
}

.logo-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-top: 12px;
}

.logo-row img {
  height: 48px;
  width: auto;
  padding: 24px;
}

.platforms {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .section {
    flex-flow: column nowrap;
    justify-items: center;
    max-width: 100%;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

  }

  .section:nth-child(2) {
    flex-flow: column-reverse;
  }

  .section:first-child {
    padding-top: 84px;
  }

  .filler-image {
    margin-left: 0;
    width: 100%;
    height: 400px;
  }

  .kawaii, .kawaii.mirror, .kawaii.first {
    width: 60%;
    height: auto;
    margin: 0;
  }

  .section:last-child {
    max-width: 100%;
  }

  .text-block {
    padding: 20px;
  }

  .filler-image.mirror {
    margin-right: 0;
  }

  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
  }

  .header {
    padding: 12px;
  }

  .logoSmall {
    display: unset;
    width: 48px;
    height: auto;
  }

  .logo {
    display: none;
  }

  .quote {
    margin: 0;
    padding: 0;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 12px;
  }

  .navlinks {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .terms-text {
    max-width: 90%;
  }

  .hamburger {
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  #menu-toggle:checked ~ .nav-mobile {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 4px;
    padding: 12px;
    position: absolute;
    top: calc(100% + 12px);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  }

  #nav-icon3 {
    width: 36px;
    height: 25px;
    position: relative;
    margin: auto;
    align-content: center;
    align-items: center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #3308cc;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 10px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 20px;
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(-45deg);
  }

  #menu-toggle:checked + .hamburger #nav-icon3 span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  .nav-mobile h2 {
    font-size: 24px;
    padding: 6px;
  }
}
