body {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;

  background-color: #efefef;
}

.page {
  max-width: 1400px;
  min-width: 75%;
  align-self: center;
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #efefef;
  padding: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 2px black solid;
}

.spacer {
  margin: auto;
}

.navlinks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

h2 {
  font-family: "Cormorant", serif;
  margin: 24px;
  font-size: 28px;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

.quote {
  background-color: #2c2c2c;
  color: #efefef;
  border-radius: 4px;
  padding: 12px;
}

hr {
  height: 2px;
  background-color: #2c2c2c;
  width: 100%;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.section:first-child {
  padding-top: 200px;
}
.text-block {
  display: inline-block;

  height: min-content;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2px;
  font-size: 24px;
  width: unset;
  display: inline-block;
  max-width: 500px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-width: 500px;
}

.filler-image {
  width: 600px;
  height: 400px;
  background-color: gray;
  margin-left: 84px;
}

.filler-image.mirror {
  margin-right: 84px;
  margin-left: unset;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
